node_modules
dist
.turbo
*.log
*.tsbuildinfo
.DS_Store
.env
.env.local
*.local
coverage
.vite
out
release
.expo
next-env.d.ts
apps/web/.next
apps/desktop/out
apps/desktop/release

services/auth-api/.env
services/auth-api/vendor/
services/auth-api/node_modules/
services/auth-api/storage/logs/*.log
services/auth-api/bootstrap/cache/*.php

services/php-auth-legacy/auth-lib/.env
services/php-auth-legacy/auth-lib/vendor/
services/php-auth-legacy/composer.phar

.pnpm-store
.build-node.lock

CLAUDE.md
image.png
