node_modules
dist
.turbo
*.log
.DS_Store
.env
.env.local
*.local
coverage
.vite
out
release
.expo
next-env.d.ts
apps/web/.next
apps/desktop/out
apps/desktop/release

.env.deploy

.pnpm-store
.build-node.lock
